html {
    height: 100%;
}
body {
    height: 100%;
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f7f7fa;
}
body > div {
    flex: auto;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
