.dashboardCenter {
    /* Width of 0 so it tries to be the smallest it can be, but it FLEXES to the
    /* minimum size needed to fill the space. */
    width: 0;
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;

}
.dashboardCenterButtonContent {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.dashboardCenterButtonText {
    align-self:center;
}
.dashboardCenterButtonIcon {
    margin-right: 5px;
    height: min-content;
    margin-top: 5px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex: auto;
 }

.dashboardRight {
    display:flex;
    flex-direction:column;
    background-color:#fff;
    /* width:20%; */
    margin: 20px;
    padding-bottom: 20px;
}

.dashboardRight > h1 {
    margin: 20px;
}

.groupImg {
    object-fit: cover;
    width: 100px; height: 100px;
    border-radius: 10px;
}

.recentSection {
    display: inline;
}
.sectionList {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    display: inline-flex;
    text-align: left;
    flex-wrap: nowrap;
    vertical-align: middle;
    overflow-x: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.listItem {
    display: inline-block;
}

.groupLink {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
}
.groupLink:hover {
    text-decoration: underline;
}

img.groupImg:hover {

    background-color: #f5f5f5;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
