.header {
    font-size: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-color: rgb(180, 180, 180);
    box-shadow: 0 1px 2px rgba(0,0,0,0.025);
    width: 100%;
}
.headerContent {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.navBar {
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-right: 50px;
}

.logo {
    height:40px;
    margin: 10px;
}
.logoLarge {
    margin-right:20px;
}
.logoSmall {
    display: none;
}
@media (max-height: 950px) {
    .logoSmall {
        display: inline-block;
    }
    .logoLarge {
        display: none;
    }
}
.navElement {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 0;
}
.navElement::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 10px;
    right: 10px;
    height: 5px;
    z-index: -1;
}
.navElement:hover::before {
    background-color: var(--primary-color);
    opacity: 50%;
}
.currentNavElement::before,
.currentNavElement:hover::before {
    background-color: var(--primary-color);
}

.space {
    flex: auto;
}

.rightNavBar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position:relative;
}

.userImage {
    cursor: pointer;

    margin:10px;
    object-fit: cover;
    width:30px;
    height:30px;
    border-radius: 125px;
}

.dropdownContent {
    display: none;
    position: absolute;
    right: 0;
    z-index: 10;
}

.arrowIcon {
    width: 20px;
    height: 20px;
}
.arrowIcon:hover {
    color: var(--dark-color);
    cursor: pointer;
}

.rightNavBar:hover .dropdownContent {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: fit-content;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-style: none;
}
.dropdown:hover > .dropdownContent {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: fit-content;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-style: none;
}

.dropdownContent .linkBox {
    display:flex;
    background-color: white;

    text-decoration: none;
}
.dropdownContent .linkBox:hover {
    display:flex;
    background-color: var(--dark-color);
}
.dropdownContent a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: var(--dark-color);
    white-space: nowrap;
}
.dropdownContent a:hover {
    color: white;
}


