.searchBar {
    display: inline-flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 10px;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

.searchIcon {
    font-size: larger;
    color: var(--dark-color);
    padding:5px;
    cursor: pointer;
}

.searchInput {
    outline: none;
    border-style: none;
    display:flex;
    background-color: #eeeeee;
}