.wrapper {
    background-color: white;
    margin: 20px;
    padding: 20px;
    flex: auto;
}
.buttonWrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.leftWrapper {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputWrapper {
    margin: 10px;
    display: flex;
    align-items: center;
}
.input {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
    margin-left: 10px;
}