.exercise {
    background-color: white;
    padding: 20px 0;
    margin: 20px;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.labelled {
    flex: auto;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.label {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}

.input {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
    flex: auto;
    width: 0;
}
select.input {
    cursor: pointer;
}
.units {
    margin-left: 10px;
}

.remove {
    margin: 0 20px;
    color: #ff5656;
}
.remove:hover {
    background-color: #ff5656;
}
