.workout {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 20px;
    min-height: 80px;
    overflow: hidden;
}
div.workout:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.datetime {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 60px;
}
.time {
    font-size: 0.8em;
    margin-top: 3px;
    margin-bottom: 3px;
}
.label {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex: auto;
}
.label a {
    text-decoration: none;
    color: inherit;
}

.label a:hover {
    text-decoration: none;
    color: #ff73d7;
}

.groupImgContainer {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.groupImg {
    object-fit: cover;
    width: 90px; height: 90px;
    border-radius: 10px;
}

.icon {
    width: 80px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #eee;
}
.circle {
    background-color: currentColor;
    width: calc(5em / 6);
    height: calc(5em / 6);
    border-radius: 50%;
}
.completed .icon {
    background-color: #66cc21;
    color: white;
}
