.videoCurrentExercise {
    display: flex;
    flex-direction: column;
}

.videoNextExercise {
    
}

.video {
    width: 100%;
}

.exercise {
    display: flex;
    font-size: 36px;
    margin: 0;
    text-align: center;
    align-items: center;
}
.name {
    flex: 1 0 0;
}
.timeWrapper {
    flex: 1 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.time {
    display: inline-block;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 10px 0;
}
